<h1>ログインページ</h1>

<%= form_with(url: login_path,local:true,scope: :session) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <p>if are you new user? <%= link_to "Let's subscribe", signup_path %></p>
  <%= f.submit "ログイン" %>
<% end %>